# Loading Packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter

## Progress Bar

In [2]:
%%capture
from tqdm import tqdm_notebook
tqdm_notebook().pandas()

## Pandas Options

In [3]:
pd.set_option('max_columns', None)
pd.set_option('display.max_rows', None)

# Loading Files

## 1 - Read Default Data

In [4]:
path = 'D:\\Desktop\\MLPGD_Capstone_Project\\resources\\aaa_sample_data.xlsx'

df_original = pd.read_excel(path)

* Data Glance

In [5]:
df_original.head(n=2)

,Column1,Individual Key,Household Key,Member Flag,City,State - Grouped,ZIP5,ZIP9,FSV CMSI Flag,FSV Credit Card Flag,FSV Deposit Program Flag,FSV Home Equity Flag,FSV ID Theft Flag,FSV Mortgage Flag,INS Client Flag,TRV Globalware Flag,Number of Children,Responded to Catalog,Race,Length Of Residence,Mail Responder,Home Owner,Income,Date Of Birth,Children,Education,Dwelling Type,Credit Ranges,Language,Gender,Active Expiration Date,Address Change Date,Bad Address Flag,Billing Code Description,Birth Date MMDDYYYY,Branch Name,Cancel Date,Cancel Reason,County,Do Not Direct Mail Solicit,Email Available,Email Status,ERS ENT Count Year 1,ERS ENT Count Year 2,ERS ENT Count Year 3,ERS Member Cost Year 1,ERS Member Cost Year 2,ERS Member Cost Year 3,Right_Gender,Right_Individual Key,Join AAA Date,Join Club Date,Member Key,Member Map Location,Member Number Associate ID,Member Phone Type,Member Status,Member Tenure Years,Member Type,Membership ID,Months from Join to Cancel,Opt-Out - Publication,Reason Joined,Reinstate Date,Renew Method,ZIP,Mosaic Household,Mosaic Global Household,kcl_B_IND_MosaicsGrouping,New Mover Flag,Occupation Code,Occupation Group,Right_Dwelling Type,Move Distance,Occupant Type,Breakdown Map Location,Breakdown City,Breakdown State,Basic Cost,Calculated Tow Miles,Call Canceled,Call Killed,Call Status Recv Date,Cash Call,Clearing Code Last Description,Dispatch Code1 Description,Dispatch Code2Description,DTL Prob1 Code Description,Fleet Indicator,Is Duplicate,Is NSR,Member Match Flag,Member Number and Associate ID,Motorcycle Indicator,Plus Cost,Plus Indicator Description,Premier Cost,Prob1 Code Description,Prob2 Code Description,SC Call Club Code Description,SC Date,Rec ID,SC STS RSN Code Description,SC Vehicle Manufacturer Name,SC Vehicle Model Name,SVC Facility Name,SVC Facility Type,Total Cost,Tow Destination Latitude,Tow Destination Longitude,Tow Destination Name,Was Duplicated,Was Towed To AAR Referral
0,58160,7177850,8750,Y,CRANSTON,RI,29210,292116010,N,N,N,N,N,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,SFDU,NaN,NaN,NaN,2020-04-01,NaT,F,Renewal Mbr Billing,1954-12-02,RI - CRANSTON BRANCH,NaT,NaN,PROVIDENCE,0.0,0.0,Unsubscribed,10.0,10.0,0.0,5885.0,5885.0,7702.0,NaN,7177850.0,1978-04-01,1978-04-01,15283420.0,"{41.7658,-71.4978}",227114000.0,NaN,ACTIVE,410.0,Primary,2271140.0,NaN,Opt-In,NaN,NaT,NOTICE,29210.0,Couples with Clout,Bourgeois Prosperity,Power Elite,N,NaN,NaN,NaN,NaN,NaN,"{41.75611,-71.48017}",Cranston,RI,5885.0,0.0,N,N,2019-06-28 11:44:59,N,Normal Service,Flat Tire w/spare,NaN,Flat Tire w/spare,Y,0.0,0.0,10.0,227114000.0,Y,0.0,Plus Membership,0.0,Flat Tire,NaN,AAA Northeast,2019-06-28,193267970.0,Normal Service,TOYOTA,SIENNA,Aaa Sne Ri Light Service,mobile battery service,5885.0,NaN,NaN,NaN,0.0,0.0
1,58161,7177850,8750,Y,CRANSTON,RI,29210,292116010,N,N,N,N,N,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,SFDU,NaN,NaN,NaN,2020-04-01,NaT,F,Renewal Mbr Billing,1954-12-02,RI - CRANSTON BRANCH,NaT,NaN,PROVIDENCE,0.0,0.0,Unsubscribed,10.0,10.0,0.0,5885.0,5885.0,7702.0,NaN,7177850.0,1978-04-01,1978-04-01,15283420.0,"{41.7658,-71.4978}",227114000.0,NaN,ACTIVE,410.0,Primary,2271140.0,NaN,Opt-In,NaN,NaT,NOTICE,29210.0,Couples with Clout,Bourgeois Prosperity,Power Elite,N,NaN,NaN,NaN,NaN,NaN,"{41,-71}",Cranston,RI,530.0,140.0,N,N,2014-09-29 06:34:41,N,Normal Service,Transmission/Clutch Failure,NaN,Transmission/Clutch Failure,Y,0.0,0.0,10.0,227114000.0,N,360.0,Plus Membership,0.0,Tow,NaN,AAA Northeast,2014-09-29,6752960.0,Normal Service,TOYOTA,COROLLA,AAA SNE RI FLEET FULL SERVICE,other,890.0,410.0,-710.0,Tarbox Motors,0.0,0.0

* General Info

In [6]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21344 entries, 0 to 21343
Columns: 113 entries, Column1 to Was Towed To AAR Referral
dtypes: datetime64[ns](9), float64(31), int64(5), object(68)
memory usage: 18.4+ MB

In [7]:
df_original.dtypes

Column1                                    int64
Individual Key                             int64
Household Key                              int64
Member Flag                               object
City                                      object
State - Grouped                           object
ZIP5                                       int64
ZIP9                                       int64
FSV CMSI Flag                             object
FSV Credit Card Flag                      object
FSV Deposit Program Flag                  object
FSV Home Equity Flag                      object
FSV ID Theft Flag                         object
FSV Mortgage Flag                         object
INS Client Flag                           object
TRV Globalware Flag                       object
Number of Children                        object
Responded to Catalog                      object
Race                                      object
Length Of Residence                      float64
Mail Responder                            object
Home Owner                                object
Income                                    object
Date Of Birth                     datetime64[ns]
Children                                  object
Education                                 object
Dwelling Type                             object
Credit Ranges                             object
Language                                  object
Gender                                    object
Active Expiration Date            datetime64[ns]
Address Change Date               datetime64[ns]
Bad Address Flag                          object
Billing Code Description                  object
Birth Date MMDDYYYY               datetime64[ns]
Branch Name                               object
Cancel Date                       datetime64[ns]
Cancel Reason                             object
County                                    object
Do Not Direct Mail Solicit               float64
Email Available                          float64
Email Status                              object
ERS ENT Count Year 1                     float64
ERS ENT Count Year 2                     float64
ERS ENT Count Year 3                     float64
ERS Member Cost Year 1                   float64
ERS Member Cost Year 2                   float64
ERS Member Cost Year 3                   float64
Right_Gender                              object
Right_Individual Key                     float64
Join AAA Date                     datetime64[ns]
Join Club Date                    datetime64[ns]
Member Key                               float64
Member Map Location                       object
Member Number Associate ID               float64
Member Phone Type                         object
Member Status                             object
Member Tenure Years                      float64
Member Type                               object
Membership ID                            float64
Months from Join to Cancel               float64
Opt-Out - Publication                     object
Reason Joined                             object
Reinstate Date                    datetime64[ns]
Renew Method                              object
ZIP                                      float64
Mosaic Household                          object
Mosaic Global Household                   object
kcl_B_IND_MosaicsGrouping                 object
New Mover Flag                            object
Occupation Code                           object
Occupation Group                          object
Right_Dwelling Type                       object
Move Distance                             object
Occupant Type                             object
Breakdown Map Location                    object
Breakdown City                            object
Breakdown State                           object
Basic Cost                               float64
Calculated Tow Miles                     float64
Call Canceled                             object
Call Killed                               object
Call Status Recv Date                     object
Cash Call                                 object
Clearing Code Last Description            object
Dispatch Code1 Description                object
Dispatch Code2Description                float64
DTL Prob1 Code Description                object
Fleet Indicator                           object
Is Duplicate                             float64
Is NSR                                   float64
Member Match Flag                        float64
Member Number and Associate ID           float64
Motorcycle Indicator                      object
Plus Cost                                float64
Plus Indicator Description                object
Premier Cost                             float64
Prob1 Code Description                    object
Prob2 Code Description                    object
SC Call Club Code Description             object
SC Date                           datetime64[ns]
Rec ID                                   float64
SC STS RSN Code Description               object
SC Vehicle Manufacturer Name              object
SC Vehicle Model Name                     object
SVC Facility Name                         object
SVC Facility Type                         object
Total Cost                               float64
Tow Destination Latitude                 float64
Tow Destination Longitude                float64
Tow Destination Name                      object
Was Duplicated                           float64
Was Towed To AAR Referral                float64
dtype: object

* Reading Dictionaries

In [8]:
path_dict_member = 'D:\\Desktop\\MLPGD_Capstone_Project\\resources\\member_data_dict.xlsx'

dict_member = pd.read_excel(path_dict_member)

In [9]:
path_dict_rodaside = 'D:\\Desktop\\MLPGD_Capstone_Project\\resources\\roadside_data_dict.xlsx'

dict_roadside = pd.read_excel(path_dict_rodaside)

# Data processing (Exploratory Data Analysis - EDA)

* Creating Dictionary to keep track of each operation and each filtering per operation

In [10]:
removed_columns = {}

## 1 - Dropping Erroneous Column (excel did that on converting the csv original file)

    1.1 - Defining the key for this operation

In [11]:
removed_columns['Erroneous Columns Removal'] = ['Column1']

    1.2 - Performing Filtering

In [12]:
df_original.drop(columns='Column1', inplace=True)

In [13]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21344 entries, 0 to 21343
Columns: 112 entries, Individual Key to Was Towed To AAR Referral
dtypes: datetime64[ns](9), float64(31), int64(4), object(68)
memory usage: 18.2+ MB

## 2 - Evaluating number of null values

In [14]:
nullval_ratio = (df_original.isnull().sum() * 100 / len(df_original)).sort_values(ascending=False) # percentage of null values per column

In [15]:
nullval_ratio

Dispatch Code2Description         100.000000
Prob2 Code Description             99.962519
Reason Joined                      98.182159
Reinstate Date                     97.680847
Move Distance                      96.996814
Occupant Type                      96.570465
Right_Dwelling Type                96.139430
Responded to Catalog               95.970765
Tow Destination Name               82.702399
Right_Gender                       74.779798
Months from Join to Cancel         61.689468
Cancel Date                        61.689468
Cancel Reason                      61.689468
Occupation Group                   58.854948
Occupation Code                    58.854948
Gender                             58.850262
Date Of Birth                      52.253561
Email Status                       48.833396
Address Change Date                46.640742
Home Owner                         45.516304
Tow Destination Latitude           44.654235
Tow Destination Longitude          44.654235
Income                             44.045165
Mail Responder                     43.731259
Children                           43.731259
Race                               43.731259
Number of Children                 43.731259
Length Of Residence                43.731259
Language                           43.731259
Education                          43.731259
Credit Ranges                      43.731259
Member Phone Type                  42.292916
Motorcycle Indicator               38.244940
SVC Facility Type                  37.364130
Breakdown Map Location             35.616567
SVC Facility Name                  35.096514
Fleet Indicator                    35.096514
Calculated Tow Miles               35.059033
Premier Cost                       34.824775
Total Cost                         34.670165
Plus Cost                          34.670165
Basic Cost                         34.670165
Call Status Recv Date              34.642054
SC STS RSN Code Description        34.627999
Clearing Code Last Description     34.627999
SC Vehicle Model Name              34.515555
SC Vehicle Manufacturer Name       34.478073
Dispatch Code1 Description         34.426537
DTL Prob1 Code Description         34.426537
Was Duplicated                     34.421852
Was Towed To AAR Referral          34.421852
Cash Call                          34.421852
SC Date                            34.421852
Plus Indicator Description         34.421852
Prob1 Code Description             34.421852
SC Call Club Code Description      34.421852
Member Match Flag                  34.421852
Is NSR                             34.421852
Is Duplicate                       34.421852
Member Number and Associate ID     34.421852
Call Killed                        34.421852
Call Canceled                      34.421852
Breakdown State                    34.421852
Breakdown City                     34.421852
Rec ID                             34.421852
Mosaic Global Household            25.595015
kcl_B_IND_MosaicsGrouping          25.595015
Mosaic Household                   25.595015
Dwelling Type                      25.548163
ERS ENT Count Year 1               21.875000
ERS Member Cost Year 3             21.875000
ERS ENT Count Year 2               21.875000
ERS ENT Count Year 3               21.875000
ERS Member Cost Year 1             21.875000
ERS Member Cost Year 2             21.875000
Birth Date MMDDYYYY                15.226762
Member Map Location                 0.168666
Active Expiration Date              0.004685
Bad Address Flag                    0.004685
Member Status                       0.004685
Billing Code Description            0.004685
Member Number Associate ID          0.004685
Branch Name                         0.004685
ZIP                                 0.004685
Renew Method                        0.004685
Opt-Out - Publication               0.004685
Membership ID                       0.004685
Member Type                         0.004685
Member Tenure Years                 0.004685
New Mover Flag                      0.004685
Member Key                          0.004685
Join AAA Date                       0.004685
Right_Individual Key                0.004685
Email Available                     0.004685
Do Not Direct Mail Solicit          0.004685
County                              0.004685
Join Club Date                      0.004685
FSV CMSI Flag                       0.000000
Household Key                       0.000000
Member Flag                         0.000000
City                                0.000000
State - Grouped                     0.000000
ZIP5                                0.000000
ZIP9                                0.000000
FSV Home Equity Flag                0.000000
FSV Credit Card Flag                0.000000
FSV Deposit Program Flag            0.000000
FSV ID Theft Flag                   0.000000
FSV Mortgage Flag                   0.000000
INS Client Flag                     0.000000
TRV Globalware Flag                 0.000000
Individual Key                      0.000000
dtype: float64

    2.1 - Removing columns with more than 70% of null values

            2.1.1 - Maintaining Original Data file

In [16]:
removed_null_data = df_original.copy()

            2.1.2 - Defining Threshold

In [17]:
threshold = 70.0

            2.1.3 - Defining the key for this operation

In [18]:
key2 = str(threshold) + '% Threshold Column Removal'

removed_columns[key2] = []

            2.1.4 - Performing Filtering

In [19]:
for c in tqdm_notebook(df_original.columns, desc='Process Progress'):

    if nullval_ratio[c] > threshold:

        removed_null_data.drop(columns=c, inplace=True)

        removed_columns[key2].append(c)

print('Removed Columns after filtering process: ', removed_columns[key2])

HBox(children=(FloatProgress(value=0.0, description='Process Progress', max=112.0, style=ProgressStyle(descripâ€¦

Removed Columns after filtering process:  ['Responded to Catalog', 'Right_Gender', 'Reason Joined', 'Reinstate Date', 'Right_Dwelling Type', 'Move Distance', 'Occupant Type', 'Dispatch Code2Description', 'Prob2 Code Description', 'Tow Destination Name']

In [20]:
removed_null_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21344 entries, 0 to 21343
Columns: 102 entries, Individual Key to Was Towed To AAR Referral
dtypes: datetime64[ns](8), float64(30), int64(4), object(60)
memory usage: 16.6+ MB

## 3 - Subjective Evaluation

    3.1 - Rename FSV, INS, and TRV columns that are related to products purchase flags

In [21]:
matching_FSV = [s for s in list(removed_null_data.columns) if "FSV" in s]
matching_INS = [s for s in list(removed_null_data.columns) if "INS" in s]
matching_TRV = [s for s in list(removed_null_data.columns) if "TRV" in s]
final_matching = matching_FSV + matching_INS + matching_TRV
print(final_matching)

['FSV CMSI Flag', 'FSV Credit Card Flag', 'FSV Deposit Program Flag', 'FSV Home Equity Flag', 'FSV ID Theft Flag', 'FSV Mortgage Flag', 'INS Client Flag', 'TRV Globalware Flag']

In [22]:
counter = 1

for c in final_matching:

    removed_null_data.rename(columns={c : 'Purchased Product' + ' ' + str(counter)}, inplace=True)

    counter = counter + 1

In [23]:
removed_null_data.head(n=2)

,Individual Key,Household Key,Member Flag,City,State - Grouped,ZIP5,ZIP9,Purchased Product 1,Purchased Product 2,Purchased Product 3,Purchased Product 4,Purchased Product 5,Purchased Product 6,Purchased Product 7,Purchased Product 8,Number of Children,Race,Length Of Residence,Mail Responder,Home Owner,Income,Date Of Birth,Children,Education,Dwelling Type,Credit Ranges,Language,Gender,Active Expiration Date,Address Change Date,Bad Address Flag,Billing Code Description,Birth Date MMDDYYYY,Branch Name,Cancel Date,Cancel Reason,County,Do Not Direct Mail Solicit,Email Available,Email Status,ERS ENT Count Year 1,ERS ENT Count Year 2,ERS ENT Count Year 3,ERS Member Cost Year 1,ERS Member Cost Year 2,ERS Member Cost Year 3,Right_Individual Key,Join AAA Date,Join Club Date,Member Key,Member Map Location,Member Number Associate ID,Member Phone Type,Member Status,Member Tenure Years,Member Type,Membership ID,Months from Join to Cancel,Opt-Out - Publication,Renew Method,ZIP,Mosaic Household,Mosaic Global Household,kcl_B_IND_MosaicsGrouping,New Mover Flag,Occupation Code,Occupation Group,Breakdown Map Location,Breakdown City,Breakdown State,Basic Cost,Calculated Tow Miles,Call Canceled,Call Killed,Call Status Recv Date,Cash Call,Clearing Code Last Description,Dispatch Code1 Description,DTL Prob1 Code Description,Fleet Indicator,Is Duplicate,Is NSR,Member Match Flag,Member Number and Associate ID,Motorcycle Indicator,Plus Cost,Plus Indicator Description,Premier Cost,Prob1 Code Description,SC Call Club Code Description,SC Date,Rec ID,SC STS RSN Code Description,SC Vehicle Manufacturer Name,SC Vehicle Model Name,SVC Facility Name,SVC Facility Type,Total Cost,Tow Destination Latitude,Tow Destination Longitude,Was Duplicated,Was Towed To AAR Referral
0,7177850,8750,Y,CRANSTON,RI,29210,292116010,N,N,N,N,N,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,SFDU,NaN,NaN,NaN,2020-04-01,NaT,F,Renewal Mbr Billing,1954-12-02,RI - CRANSTON BRANCH,NaT,NaN,PROVIDENCE,0.0,0.0,Unsubscribed,10.0,10.0,0.0,5885.0,5885.0,7702.0,7177850.0,1978-04-01,1978-04-01,15283420.0,"{41.7658,-71.4978}",227114000.0,NaN,ACTIVE,410.0,Primary,2271140.0,NaN,Opt-In,NOTICE,29210.0,Couples with Clout,Bourgeois Prosperity,Power Elite,N,NaN,NaN,"{41.75611,-71.48017}",Cranston,RI,5885.0,0.0,N,N,2019-06-28 11:44:59,N,Normal Service,Flat Tire w/spare,Flat Tire w/spare,Y,0.0,0.0,10.0,227114000.0,Y,0.0,Plus Membership,0.0,Flat Tire,AAA Northeast,2019-06-28,193267970.0,Normal Service,TOYOTA,SIENNA,Aaa Sne Ri Light Service,mobile battery service,5885.0,NaN,NaN,0.0,0.0
1,7177850,8750,Y,CRANSTON,RI,29210,292116010,N,N,N,N,N,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,SFDU,NaN,NaN,NaN,2020-04-01,NaT,F,Renewal Mbr Billing,1954-12-02,RI - CRANSTON BRANCH,NaT,NaN,PROVIDENCE,0.0,0.0,Unsubscribed,10.0,10.0,0.0,5885.0,5885.0,7702.0,7177850.0,1978-04-01,1978-04-01,15283420.0,"{41.7658,-71.4978}",227114000.0,NaN,ACTIVE,410.0,Primary,2271140.0,NaN,Opt-In,NOTICE,29210.0,Couples with Clout,Bourgeois Prosperity,Power Elite,N,NaN,NaN,"{41,-71}",Cranston,RI,530.0,140.0,N,N,2014-09-29 06:34:41,N,Normal Service,Transmission/Clutch Failure,Transmission/Clutch Failure,Y,0.0,0.0,10.0,227114000.0,N,360.0,Plus Membership,0.0,Tow,AAA Northeast,2014-09-29,6752960.0,Normal Service,TOYOTA,COROLLA,AAA SNE RI FLEET FULL SERVICE,other,890.0,410.0,-710.0,0.0,0.0

    3.2 -  Removing columns that are not allowed or not ethical to work

        3.2.1 - Creating Dictionary Key

In [24]:
key3 = 'Unethical Columns'

removed_columns[key3] = ['Race', 'Language'] # is gender an unethical information for market segmentation?

        3.2.2 - Performing Filtering

In [25]:
for c in tqdm_notebook(removed_columns[key3], desc='Process Progress'):

    removed_null_data.drop(columns=c, inplace=True)

print('Removed Columns after filtering process: ', removed_columns[key3])

HBox(children=(FloatProgress(value=0.0, description='Process Progress', max=2.0, style=ProgressStyle(descriptiâ€¦

Removed Columns after filtering process:  ['Race', 'Language']

In [26]:
removed_null_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21344 entries, 0 to 21343
Data columns (total 100 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Individual Key                  21344 non-null  int64
 1   Household Key                   21344 non-null  int64
 2   Member Flag                     21344 non-null  object
 3   City                            21344 non-null  object
 4   State - Grouped                 21344 non-null  object
 5   ZIP5                            21344 non-null  int64
 6   ZIP9                            21344 non-null  int64
 7   Purchased Product 1             21344 non-null  object
 8   Purchased Product 2             21344 non-null  object
 9   Purchased Product 3             21344 non-null  object
 10  Purchased Product 4             21344 non-null  object
 11  Purchased Product 5             21344 non-null  object
 12  Purchased Product 6             21344 non-null  object
 13  Purchased Product 7             21344 non-null  object
 14  Purchased Product 8             21344 non-null  object
 15  Number of Children              12010 non-null  object
 16  Length Of Residence             12010 non-null  float64
 17  Mail Responder                  12010 non-null  object
 18  Home Owner                      11629 non-null  object
 19  Income                          11943 non-null  object
 20  Date Of Birth                   10191 non-null  datetime64[ns]
 21  Children                        12010 non-null  object
 22  Education                       12010 non-null  object
 23  Dwelling Type                   15891 non-null  object
 24  Credit Ranges                   12010 non-null  object
 25  Gender                          8783 non-null   object
 26  Active Expiration Date          21343 non-null  datetime64[ns]
 27  Address Change Date             11389 non-null  datetime64[ns]
 28  Bad Address Flag                21343 non-null  object
 29  Billing Code Description        21343 non-null  object
 30  Birth Date MMDDYYYY             18094 non-null  datetime64[ns]
 31  Branch Name                     21343 non-null  object
 32  Cancel Date                     8177 non-null   datetime64[ns]
 33  Cancel Reason                   8177 non-null   object
 34  County                          21343 non-null  object
 35  Do Not Direct Mail Solicit      21343 non-null  float64
 36  Email Available                 21343 non-null  float64
 37  Email Status                    10921 non-null  object
 38  ERS ENT Count Year 1            16675 non-null  float64
 39  ERS ENT Count Year 2            16675 non-null  float64
 40  ERS ENT Count Year 3            16675 non-null  float64
 41  ERS Member Cost Year 1          16675 non-null  float64
 42  ERS Member Cost Year 2          16675 non-null  float64
 43  ERS Member Cost Year 3          16675 non-null  float64
 44  Right_Individual Key            21343 non-null  float64
 45  Join AAA Date                   21343 non-null  datetime64[ns]
 46  Join Club Date                  21343 non-null  datetime64[ns]
 47  Member Key                      21343 non-null  float64
 48  Member Map Location             21308 non-null  object
 49  Member Number Associate ID      21343 non-null  float64
 50  Member Phone Type               12317 non-null  object
 51  Member Status                   21343 non-null  object
 52  Member Tenure Years             21343 non-null  float64
 53  Member Type                     21343 non-null  object
 54  Membership ID                   21343 non-null  float64
 55  Months from Join to Cancel      8177 non-null   float64
 56  Opt-Out - Publication           21343 non-null  object
 57  Renew Method                    21343 non-null  object
 58  ZIP                             21343 non-null  float64
 59  Mosaic Household                15881 non-null  object
 60  Mosaic Global Household         15881 non-null  object
 61  kcl_B_IND_MosaicsGrouping       15881 non-null  object
 62  New Mover Flag                  21343 non-null  object
 63  Occupation Code                 8782 non-null   object
 64  Occupation Group                8782 non-null   object
 65  Breakdown Map Location          13742 non-null  object
 66  Breakdown City                  13997 non-null  object
 67  Breakdown State                 13997 non-null  object
 68  Basic Cost                      13944 non-null  float64
 69  Calculated Tow Miles            13861 non-null  float64
 70  Call Canceled                   13997 non-null  object
 71  Call Killed                     13997 non-null  object
 72  Call Status Recv Date           13950 non-null  object
 73  Cash Call                       13997 non-null  object
 74  Clearing Code Last Description  13953 non-null  object
 75  Dispatch Code1 Description      13996 non-null  object
 76  DTL Prob1 Code Description      13996 non-null  object
 77  Fleet Indicator                 13853 non-null  object
 78  Is Duplicate                    13997 non-null  float64
 79  Is NSR                          13997 non-null  float64
 80  Member Match Flag               13997 non-null  float64
 81  Member Number and Associate ID  13997 non-null  float64
 82  Motorcycle Indicator            13181 non-null  object
 83  Plus Cost                       13944 non-null  float64
 84  Plus Indicator Description      13997 non-null  object
 85  Premier Cost                    13911 non-null  float64
 86  Prob1 Code Description          13997 non-null  object
 87  SC Call Club Code Description   13997 non-null  object
 88  SC Date                         13997 non-null  datetime64[ns]
 89  Rec ID                          13997 non-null  float64
 90  SC STS RSN Code Description     13953 non-null  object
 91  SC Vehicle Manufacturer Name    13985 non-null  object
 92  SC Vehicle Model Name           13977 non-null  object
 93  SVC Facility Name               13853 non-null  object
 94  SVC Facility Type               13369 non-null  object
 95  Total Cost                      13944 non-null  float64
 96  Tow Destination Latitude        11813 non-null  float64
 97  Tow Destination Longitude       11813 non-null  float64
 98  Was Duplicated                  13997 non-null  float64
 99  Was Towed To AAR Referral       13997 non-null  float64
dtypes: datetime64[ns](8), float64(30), int64(4), object(58)
memory usage: 16.3+ MB

    3.3 - Removing Columns that represent the same information in a different way (information redundancy)

        3.3.1 - Creating Dictionary Key

In [27]:
key4 = 'Redundancy Information Columns'

removed_columns[key4] = ['Individual Key', 'State - Grouped', 'ZIP5', 'ZIP9', 'Children', 'Birth Date MMDDYYYY', 'Cancel Date', 'County', 'Do Not Direct Mail Solicit', 'Right_Individual Key', 'Member Key', 'Member Number Associate ID', 'Membership ID', 'Reinstate Date', 'ZIP', 'Mosaic Household', 'kcl_B_IND_MosaicsGrouping', 'Occupation Code', 'Breakdown State', 'Call Killed', 'Clearing Code Last Description', 'Dispatch Code1 Description','DTL Prob1 Code Description', 'Is Duplicate', 'Member Match Flag', 'Member Number and Associate ID', 'SC Date', 'Rec ID', 'SC STS RSN Code Description', 'SC Vehicle Model Name', 'SVC Facility Name', 'SVC Facility Type', 'Tow Destination Latitude', 'Tow Destination Longitude'] # is the City variable relevant once we already have lat/long location? Address Change Date? Bad Adress Flag? Reinstate Date (y)? Call Status Recv Date?

        3.3.2 - Performing Filtering

In [28]:
for c in tqdm_notebook(removed_columns[key4], desc='Process Progress'):

    if c in removed_null_data.columns: # since we have choosen a lot of columns, we have to ensure that all of them are still in the current dataset status

        removed_null_data.drop(columns=c, inplace=True)

print('Removed Columns after filtering process: ', removed_columns[key4])

HBox(children=(FloatProgress(value=0.0, description='Process Progress', max=34.0, style=ProgressStyle(descriptâ€¦

Removed Columns after filtering process:  ['Individual Key', 'State - Grouped', 'ZIP5', 'ZIP9', 'Children', 'Birth Date MMDDYYYY', 'Cancel Date', 'County', 'Do Not Direct Mail Solicit', 'Right_Individual Key', 'Member Key', 'Member Number Associate ID', 'Membership ID', 'Reinstate Date', 'ZIP', 'Mosaic Household', 'kcl_B_IND_MosaicsGrouping', 'Occupation Code', 'Breakdown State', 'Call Killed', 'Clearing Code Last Description', 'Dispatch Code1 Description', 'DTL Prob1 Code Description', 'Is Duplicate', 'Member Match Flag', 'Member Number and Associate ID', 'SC Date', 'Rec ID', 'SC STS RSN Code Description', 'SC Vehicle Model Name', 'SVC Facility Name', 'SVC Facility Type', 'Tow Destination Latitude', 'Tow Destination Longitude']

In [29]:
removed_null_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21344 entries, 0 to 21343
Data columns (total 67 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Household Key                  21344 non-null  int64
 1   Member Flag                    21344 non-null  object
 2   City                           21344 non-null  object
 3   Purchased Product 1            21344 non-null  object
 4   Purchased Product 2            21344 non-null  object
 5   Purchased Product 3            21344 non-null  object
 6   Purchased Product 4            21344 non-null  object
 7   Purchased Product 5            21344 non-null  object
 8   Purchased Product 6            21344 non-null  object
 9   Purchased Product 7            21344 non-null  object
 10  Purchased Product 8            21344 non-null  object
 11  Number of Children             12010 non-null  object
 12  Length Of Residence            12010 non-null  float64
 13  Mail Responder                 12010 non-null  object
 14  Home Owner                     11629 non-null  object
 15  Income                         11943 non-null  object
 16  Date Of Birth                  10191 non-null  datetime64[ns]
 17  Education                      12010 non-null  object
 18  Dwelling Type                  15891 non-null  object
 19  Credit Ranges                  12010 non-null  object
 20  Gender                         8783 non-null   object
 21  Active Expiration Date         21343 non-null  datetime64[ns]
 22  Address Change Date            11389 non-null  datetime64[ns]
 23  Bad Address Flag               21343 non-null  object
 24  Billing Code Description       21343 non-null  object
 25  Branch Name                    21343 non-null  object
 26  Cancel Reason                  8177 non-null   object
 27  Email Available                21343 non-null  float64
 28  Email Status                   10921 non-null  object
 29  ERS ENT Count Year 1           16675 non-null  float64
 30  ERS ENT Count Year 2           16675 non-null  float64
 31  ERS ENT Count Year 3           16675 non-null  float64
 32  ERS Member Cost Year 1         16675 non-null  float64
 33  ERS Member Cost Year 2         16675 non-null  float64
 34  ERS Member Cost Year 3         16675 non-null  float64
 35  Join AAA Date                  21343 non-null  datetime64[ns]
 36  Join Club Date                 21343 non-null  datetime64[ns]
 37  Member Map Location            21308 non-null  object
 38  Member Phone Type              12317 non-null  object
 39  Member Status                  21343 non-null  object
 40  Member Tenure Years            21343 non-null  float64
 41  Member Type                    21343 non-null  object
 42  Months from Join to Cancel     8177 non-null   float64
 43  Opt-Out - Publication          21343 non-null  object
 44  Renew Method                   21343 non-null  object
 45  Mosaic Global Household        15881 non-null  object
 46  New Mover Flag                 21343 non-null  object
 47  Occupation Group               8782 non-null   object
 48  Breakdown Map Location         13742 non-null  object
 49  Breakdown City                 13997 non-null  object
 50  Basic Cost                     13944 non-null  float64
 51  Calculated Tow Miles           13861 non-null  float64
 52  Call Canceled                  13997 non-null  object
 53  Call Status Recv Date          13950 non-null  object
 54  Cash Call                      13997 non-null  object
 55  Fleet Indicator                13853 non-null  object
 56  Is NSR                         13997 non-null  float64
 57  Motorcycle Indicator           13181 non-null  object
 58  Plus Cost                      13944 non-null  float64
 59  Plus Indicator Description     13997 non-null  object
 60  Premier Cost                   13911 non-null  float64
 61  Prob1 Code Description         13997 non-null  object
 62  SC Call Club Code Description  13997 non-null  object
 63  SC Vehicle Manufacturer Name   13985 non-null  object
 64  Total Cost                     13944 non-null  float64
 65  Was Duplicated                 13997 non-null  float64
 66  Was Towed To AAR Referral      13997 non-null  float64
dtypes: datetime64[ns](5), float64(18), int64(1), object(43)
memory usage: 10.9+ MB

    3.4 - Checking Columns with low percentage of variantional information (counting null values)

        3.4.1 - Creating Dictionay Key

In [30]:
key5 = 'Low Variational Information Columns'

removed_columns[key5] = []

        3.4.2 - Performing Filtering

In [31]:
for c in tqdm_notebook(removed_null_data.columns, desc='Process Progress'):

    if removed_null_data.nunique()[c] == 1:

        removed_null_data.drop(columns=c, inplace=True)

        removed_columns[key5].append(c)
        
print('Removed Columns after filtering process: ', removed_columns[key5])

HBox(children=(FloatProgress(value=0.0, description='Process Progress', max=67.0, style=ProgressStyle(descriptâ€¦

Removed Columns after filtering process:  ['Member Flag']

In [32]:
removed_null_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21344 entries, 0 to 21343
Data columns (total 66 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Household Key                  21344 non-null  int64
 1   City                           21344 non-null  object
 2   Purchased Product 1            21344 non-null  object
 3   Purchased Product 2            21344 non-null  object
 4   Purchased Product 3            21344 non-null  object
 5   Purchased Product 4            21344 non-null  object
 6   Purchased Product 5            21344 non-null  object
 7   Purchased Product 6            21344 non-null  object
 8   Purchased Product 7            21344 non-null  object
 9   Purchased Product 8            21344 non-null  object
 10  Number of Children             12010 non-null  object
 11  Length Of Residence            12010 non-null  float64
 12  Mail Responder                 12010 non-null  object
 13  Home Owner                     11629 non-null  object
 14  Income                         11943 non-null  object
 15  Date Of Birth                  10191 non-null  datetime64[ns]
 16  Education                      12010 non-null  object
 17  Dwelling Type                  15891 non-null  object
 18  Credit Ranges                  12010 non-null  object
 19  Gender                         8783 non-null   object
 20  Active Expiration Date         21343 non-null  datetime64[ns]
 21  Address Change Date            11389 non-null  datetime64[ns]
 22  Bad Address Flag               21343 non-null  object
 23  Billing Code Description       21343 non-null  object
 24  Branch Name                    21343 non-null  object
 25  Cancel Reason                  8177 non-null   object
 26  Email Available                21343 non-null  float64
 27  Email Status                   10921 non-null  object
 28  ERS ENT Count Year 1           16675 non-null  float64
 29  ERS ENT Count Year 2           16675 non-null  float64
 30  ERS ENT Count Year 3           16675 non-null  float64
 31  ERS Member Cost Year 1         16675 non-null  float64
 32  ERS Member Cost Year 2         16675 non-null  float64
 33  ERS Member Cost Year 3         16675 non-null  float64
 34  Join AAA Date                  21343 non-null  datetime64[ns]
 35  Join Club Date                 21343 non-null  datetime64[ns]
 36  Member Map Location            21308 non-null  object
 37  Member Phone Type              12317 non-null  object
 38  Member Status                  21343 non-null  object
 39  Member Tenure Years            21343 non-null  float64
 40  Member Type                    21343 non-null  object
 41  Months from Join to Cancel     8177 non-null   float64
 42  Opt-Out - Publication          21343 non-null  object
 43  Renew Method                   21343 non-null  object
 44  Mosaic Global Household        15881 non-null  object
 45  New Mover Flag                 21343 non-null  object
 46  Occupation Group               8782 non-null   object
 47  Breakdown Map Location         13742 non-null  object
 48  Breakdown City                 13997 non-null  object
 49  Basic Cost                     13944 non-null  float64
 50  Calculated Tow Miles           13861 non-null  float64
 51  Call Canceled                  13997 non-null  object
 52  Call Status Recv Date          13950 non-null  object
 53  Cash Call                      13997 non-null  object
 54  Fleet Indicator                13853 non-null  object
 55  Is NSR                         13997 non-null  float64
 56  Motorcycle Indicator           13181 non-null  object
 57  Plus Cost                      13944 non-null  float64
 58  Plus Indicator Description     13997 non-null  object
 59  Premier Cost                   13911 non-null  float64
 60  Prob1 Code Description         13997 non-null  object
 61  SC Call Club Code Description  13997 non-null  object
 62  SC Vehicle Manufacturer Name   13985 non-null  object
 63  Total Cost                     13944 non-null  float64
 64  Was Duplicated                 13997 non-null  float64
 65  Was Towed To AAR Referral      13997 non-null  float64
dtypes: datetime64[ns](5), float64(18), int64(1), object(42)
memory usage: 10.7+ MB

    3.5 - Removing Columns with Unnecessary Information (extremely subjective)

        3.5.1 - Creating Dictionary Key

In [33]:
key6 = 'Unnecessary Columns'

removed_columns[key6] = ['Address Change Date', 'Bad Address Flag', 'Billing Code Description', 'Join Club Date', 'Member Phone Type', 'Mosaic Global Household', 'New Mover Flag', 'Call Canceled', 'Is NSR', 'Plus Indicator Description', 'Calculated Tow Miles', 'Was Duplicated', 'Was Towed To AAR Referral']

        3.5.2 - Performing Filtering

In [34]:
for c in tqdm_notebook(removed_columns[key6], desc='Process Progress'):

    removed_null_data.drop(columns=c, inplace=True)

print('Removed Columns after filtering process: ', removed_columns[key6])

HBox(children=(FloatProgress(value=0.0, description='Process Progress', max=13.0, style=ProgressStyle(descriptâ€¦

Removed Columns after filtering process:  ['Address Change Date', 'Bad Address Flag', 'Billing Code Description', 'Join Club Date', 'Member Phone Type', 'Mosaic Global Household', 'New Mover Flag', 'Call Canceled', 'Is NSR', 'Plus Indicator Description', 'Calculated Tow Miles', 'Was Duplicated', 'Was Towed To AAR Referral']

In [35]:
removed_null_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21344 entries, 0 to 21343
Data columns (total 53 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Household Key                  21344 non-null  int64
 1   City                           21344 non-null  object
 2   Purchased Product 1            21344 non-null  object
 3   Purchased Product 2            21344 non-null  object
 4   Purchased Product 3            21344 non-null  object
 5   Purchased Product 4            21344 non-null  object
 6   Purchased Product 5            21344 non-null  object
 7   Purchased Product 6            21344 non-null  object
 8   Purchased Product 7            21344 non-null  object
 9   Purchased Product 8            21344 non-null  object
 10  Number of Children             12010 non-null  object
 11  Length Of Residence            12010 non-null  float64
 12  Mail Responder                 12010 non-null  object
 13  Home Owner                     11629 non-null  object
 14  Income                         11943 non-null  object
 15  Date Of Birth                  10191 non-null  datetime64[ns]
 16  Education                      12010 non-null  object
 17  Dwelling Type                  15891 non-null  object
 18  Credit Ranges                  12010 non-null  object
 19  Gender                         8783 non-null   object
 20  Active Expiration Date         21343 non-null  datetime64[ns]
 21  Branch Name                    21343 non-null  object
 22  Cancel Reason                  8177 non-null   object
 23  Email Available                21343 non-null  float64
 24  Email Status                   10921 non-null  object
 25  ERS ENT Count Year 1           16675 non-null  float64
 26  ERS ENT Count Year 2           16675 non-null  float64
 27  ERS ENT Count Year 3           16675 non-null  float64
 28  ERS Member Cost Year 1         16675 non-null  float64
 29  ERS Member Cost Year 2         16675 non-null  float64
 30  ERS Member Cost Year 3         16675 non-null  float64
 31  Join AAA Date                  21343 non-null  datetime64[ns]
 32  Member Map Location            21308 non-null  object
 33  Member Status                  21343 non-null  object
 34  Member Tenure Years            21343 non-null  float64
 35  Member Type                    21343 non-null  object
 36  Months from Join to Cancel     8177 non-null   float64
 37  Opt-Out - Publication          21343 non-null  object
 38  Renew Method                   21343 non-null  object
 39  Occupation Group               8782 non-null   object
 40  Breakdown Map Location         13742 non-null  object
 41  Breakdown City                 13997 non-null  object
 42  Basic Cost                     13944 non-null  float64
 43  Call Status Recv Date          13950 non-null  object
 44  Cash Call                      13997 non-null  object
 45  Fleet Indicator                13853 non-null  object
 46  Motorcycle Indicator           13181 non-null  object
 47  Plus Cost                      13944 non-null  float64
 48  Premier Cost                   13911 non-null  float64
 49  Prob1 Code Description         13997 non-null  object
 50  SC Call Club Code Description  13997 non-null  object
 51  SC Vehicle Manufacturer Name   13985 non-null  object
 52  Total Cost                     13944 non-null  float64
dtypes: datetime64[ns](3), float64(14), int64(1), object(35)
memory usage: 8.6+ MB

## 4 - Summarize Information and Fill Nulls in the given columns

    Renaming Pivot Variable and saving previous state of the data

In [36]:
filtered_data = removed_null_data.copy()

    4.1 - Number of Purchased Products

        4.1.1 - Creating Dictionary Key

In [37]:
key7 = 'Merging total number of purchased products by each row'

removed_columns[key7] = ['Purchased Product 1',	'Purchased Product 2',	'Purchased Product 3',	'Purchased Product 4',	'Purchased Product 5',	'Purchased Product 6',	'Purchased Product 7',	'Purchased Product 8']

        4.1.2 - Performing Summary

            4.1.2.1 - Converting String Values in Numerical Values and filling Null values as 0 purchased products for empty different Household Keys

In [38]:
for idx in tqdm_notebook(range(len(filtered_data)), desc='Process Progress'): # For each row
    for c in removed_columns[key7]: # In each Purchased Product Column

        if (filtered_data[c].values[idx] == 'N') or (filtered_data[c].values[idx] == 'Null') or (filtered_data[c].values[idx] == np.nan):

            filtered_data[c].values[idx] = 0

        else:

            filtered_data[c].values[idx] = 1

HBox(children=(FloatProgress(value=0.0, description='Process Progress', max=21344.0, style=ProgressStyle(descrâ€¦

            4.1.2.2 - Converting Columns to Iterger Type

In [39]:
for c in tqdm_notebook(removed_columns[key7], desc='Process Progress'):

    filtered_data[c] = filtered_data[c].astype(int)

HBox(children=(FloatProgress(value=0.0, description='Process Progress', max=8.0, style=ProgressStyle(descriptiâ€¦

        4.1.2.3 - Summarize all Purchased Columns

In [40]:
new_column = [] # creating list for the new column to be appended

column_name = 'Total Number of Purchased Products' # naming the new column

for idx in tqdm_notebook(range(len(filtered_data)), desc='Process Progress'): # For each row
    total_amount = 0 # total amount of products bought in each row

    for c in removed_columns[key7]: # In each Purchased Product Column

        if filtered_data[c][idx] == 1:

            total_amount = total_amount + 1

    new_column.append(total_amount)

HBox(children=(FloatProgress(value=0.0, description='Process Progress', max=21344.0, style=ProgressStyle(descrâ€¦

        4.1.2.4 - Drop Separate Purchased Data and Concatenate Total Purchased Data

In [41]:
for c in tqdm_notebook(removed_columns[key7], desc='Process Progress'):

    filtered_data.drop(columns=c, inplace=True)

filtered_data[column_name] = new_column
print('Removed Columns after filtering process: ', removed_columns[key7])

HBox(children=(FloatProgress(value=0.0, description='Process Progress', max=8.0, style=ProgressStyle(descriptiâ€¦

Removed Columns after filtering process:  ['Purchased Product 1', 'Purchased Product 2', 'Purchased Product 3', 'Purchased Product 4', 'Purchased Product 5', 'Purchased Product 6', 'Purchased Product 7', 'Purchased Product 8']

In [42]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21344 entries, 0 to 21343
Data columns (total 46 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Household Key                       21344 non-null  int64
 1   City                                21344 non-null  object
 2   Number of Children                  12010 non-null  object
 3   Length Of Residence                 12010 non-null  float64
 4   Mail Responder                      12010 non-null  object
 5   Home Owner                          11629 non-null  object
 6   Income                              11943 non-null  object
 7   Date Of Birth                       10191 non-null  datetime64[ns]
 8   Education                           12010 non-null  object
 9   Dwelling Type                       15891 non-null  object
 10  Credit Ranges                       12010 non-null  object
 11  Gender                              8783 non-null   object
 12  Active Expiration Date              21343 non-null  datetime64[ns]
 13  Branch Name                         21343 non-null  object
 14  Cancel Reason                       8177 non-null   object
 15  Email Available                     21343 non-null  float64
 16  Email Status                        10921 non-null  object
 17  ERS ENT Count Year 1                16675 non-null  float64
 18  ERS ENT Count Year 2                16675 non-null  float64
 19  ERS ENT Count Year 3                16675 non-null  float64
 20  ERS Member Cost Year 1              16675 non-null  float64
 21  ERS Member Cost Year 2              16675 non-null  float64
 22  ERS Member Cost Year 3              16675 non-null  float64
 23  Join AAA Date                       21343 non-null  datetime64[ns]
 24  Member Map Location                 21308 non-null  object
 25  Member Status                       21343 non-null  object
 26  Member Tenure Years                 21343 non-null  float64
 27  Member Type                         21343 non-null  object
 28  Months from Join to Cancel          8177 non-null   float64
 29  Opt-Out - Publication               21343 non-null  object
 30  Renew Method                        21343 non-null  object
 31  Occupation Group                    8782 non-null   object
 32  Breakdown Map Location              13742 non-null  object
 33  Breakdown City                      13997 non-null  object
 34  Basic Cost                          13944 non-null  float64
 35  Call Status Recv Date               13950 non-null  object
 36  Cash Call                           13997 non-null  object
 37  Fleet Indicator                     13853 non-null  object
 38  Motorcycle Indicator                13181 non-null  object
 39  Plus Cost                           13944 non-null  float64
 40  Premier Cost                        13911 non-null  float64
 41  Prob1 Code Description              13997 non-null  object
 42  SC Call Club Code Description       13997 non-null  object
 43  SC Vehicle Manufacturer Name        13985 non-null  object
 44  Total Cost                          13944 non-null  float64
 45  Total Number of Purchased Products  21344 non-null  int64
dtypes: datetime64[ns](3), float64(14), int64(2), object(27)
memory usage: 7.5+ MB

    4.2 - Correcting Number of Children column

        4.2.1 - Checking if for any HouseHold Key there is a different information for children numbering

In [43]:
Counter(df_original.groupby('Individual Key')['Number of Children'].nunique().values) # as the sheet is sorted for Individual Keys, since the beginning, we need to check if, for each Individual Key there is only 1 or 0 entries for the Number of Children

Counter({0: 6076, 1: 5827})

            With this information, we can ensure that there is no Individual Key, therefore no Household Key since it is a collection the previous, with an erroneous entry for the Number of Children column

        4.2.2 - Converting String Values in Numerical Values and filling Null values as 0 children for empty different Household Keys

In [44]:
mask_n_children = filtered_data['Number of Children'].isnull() # creating mask of null values in Number of Children column

In [45]:
for idx in tqdm_notebook(range(len(filtered_data)), desc='Process Progress'): # For each row

    if mask_n_children[idx]: # if the mask is true, that means that the correponded value for that index is Null

        filtered_data['Number of Children'].values[idx] = 0    
    
    else:

        entry = filtered_data['Number of Children'].values[idx].split()[0]

        if (entry == 'No'):

            filtered_data['Number of Children'].values[idx] = 0

        elif (entry == 'One'):

            filtered_data['Number of Children'].values[idx] = 1

        elif (entry == 'Two'):

            filtered_data['Number of Children'].values[idx] = 2

        elif (entry == 'Three'):

            filtered_data['Number of Children'].values[idx] = 3

        elif (entry == 'Four'):

            filtered_data['Number of Children'].values[idx] = 4

        elif (entry == 'Five'):

            filtered_data['Number of Children'].values[idx] = 5

        elif (entry == 'Six'):

            filtered_data['Number of Children'].values[idx] = 6

HBox(children=(FloatProgress(value=0.0, description='Process Progress', max=21344.0, style=ProgressStyle(descrâ€¦

        4.2.2 - Converting Column to Iterger Type

In [46]:
filtered_data['Number of Children'] = filtered_data['Number of Children'].astype(int)

In [52]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21344 entries, 0 to 21343
Data columns (total 46 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Household Key                       21344 non-null  int64
 1   City                                21344 non-null  object
 2   Number of Children                  21344 non-null  int32
 3   Length Of Residence                 12010 non-null  float64
 4   Mail Responder                      12010 non-null  object
 5   Home Owner                          11629 non-null  object
 6   Income                              11943 non-null  object
 7   Date Of Birth                       10191 non-null  datetime64[ns]
 8   Education                           12010 non-null  object
 9   Dwelling Type                       15891 non-null  object
 10  Credit Ranges                       12010 non-null  object
 11  Gender                              8783 non-null   object
 12  Active Expiration Date              21343 non-null  datetime64[ns]
 13  Branch Name                         21343 non-null  object
 14  Cancel Reason                       8177 non-null   object
 15  Email Available                     21343 non-null  float64
 16  Email Status                        10921 non-null  object
 17  ERS ENT Count Year 1                16675 non-null  float64
 18  ERS ENT Count Year 2                16675 non-null  float64
 19  ERS ENT Count Year 3                16675 non-null  float64
 20  ERS Member Cost Year 1              16675 non-null  float64
 21  ERS Member Cost Year 2              16675 non-null  float64
 22  ERS Member Cost Year 3              16675 non-null  float64
 23  Join AAA Date                       21343 non-null  datetime64[ns]
 24  Member Map Location                 21308 non-null  object
 25  Member Status                       21343 non-null  object
 26  Member Tenure Years                 21343 non-null  float64
 27  Member Type                         21343 non-null  object
 28  Months from Join to Cancel          8177 non-null   float64
 29  Opt-Out - Publication               21343 non-null  object
 30  Renew Method                        21343 non-null  object
 31  Occupation Group                    8782 non-null   object
 32  Breakdown Map Location              13742 non-null  object
 33  Breakdown City                      13997 non-null  object
 34  Basic Cost                          13944 non-null  float64
 35  Call Status Recv Date               13950 non-null  object
 36  Cash Call                           13997 non-null  object
 37  Fleet Indicator                     13853 non-null  object
 38  Motorcycle Indicator                13181 non-null  object
 39  Plus Cost                           13944 non-null  float64
 40  Premier Cost                        13911 non-null  float64
 41  Prob1 Code Description              13997 non-null  object
 42  SC Call Club Code Description       13997 non-null  object
 43  SC Vehicle Manufacturer Name        13985 non-null  object
 44  Total Cost                          13944 non-null  float64
 45  Total Number of Purchased Products  21344 non-null  int64
dtypes: datetime64[ns](3), float64(14), int32(1), int64(2), object(26)
memory usage: 7.4+ MB

    4.3 - Length of Residence

        We still need to keep an eye on the variables that only have 2 unique values, but it will be more a subjective evaluation

* Check correlation Matrix

#correlation matrix
corrmat = remove_null_data.corr()
f, ax = plt.subplots(figsize=(15, 10))
sns.heatmap(corrmat, square=True); # considering 70% o correlation as minimum to show

* Observations

  1- There is an "island" between Rec ID and Tow destination Longitude this will be evaluate latter, but looks promissing
  2- Basic Cost has a high correlation with the variables within this "island" 
  3- Individual Key and Right_Individual Key are pratically the same variable
  4- ZIP5 and ZIP9 are pratically the same variable
  5- Months from join to Cancel has no correlation at so ever with the Premier Cost variable

    By the correlation matrix of the entire dataset (minus the columns with more than 70% of null values), we can see that there are still some columns with no correlation, or total correlation with all the variables, and some trouble columns. Therefore, the best thing to do is to drop them.

trouble_columns= ['Is Duplicate', 'Member Match Flag']

columns_will_not_use = ['Individual Key', 'Member Flag', 'Right_Individual Key']