# Loading Packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter

## Progress Bar

In [2]:
%%capture
from tqdm import tqdm_notebook
tqdm_notebook().pandas()

## Pandas Options

In [3]:
pd.set_option('max_columns', None)
pd.set_option('display.max_rows', None)

# Loading Files

## 1 - Read Default Data

In [4]:
path = 'D:\\Desktop\\MLPGD_Capstone_Project\\resources\\aaa_sample_data.xlsx'

df_original = pd.read_excel(path)

* Data Glance

In [5]:
df_original.head(n=2)

,Column1,Individual Key,Household Key,Member Flag,City,State - Grouped,ZIP5,ZIP9,FSV CMSI Flag,FSV Credit Card Flag,FSV Deposit Program Flag,FSV Home Equity Flag,FSV ID Theft Flag,FSV Mortgage Flag,INS Client Flag,TRV Globalware Flag,Number of Children,Responded to Catalog,Race,Length Of Residence,Mail Responder,Home Owner,Income,Date Of Birth,Children,Education,Dwelling Type,Credit Ranges,Language,Gender,Active Expiration Date,Address Change Date,Bad Address Flag,Billing Code Description,Birth Date MMDDYYYY,Branch Name,Cancel Date,Cancel Reason,County,Do Not Direct Mail Solicit,Email Available,Email Status,ERS ENT Count Year 1,ERS ENT Count Year 2,ERS ENT Count Year 3,ERS Member Cost Year 1,ERS Member Cost Year 2,ERS Member Cost Year 3,Right_Gender,Right_Individual Key,Join AAA Date,Join Club Date,Member Key,Member Map Location,Member Number Associate ID,Member Phone Type,Member Status,Member Tenure Years,Member Type,Membership ID,Months from Join to Cancel,Opt-Out - Publication,Reason Joined,Reinstate Date,Renew Method,ZIP,Mosaic Household,Mosaic Global Household,kcl_B_IND_MosaicsGrouping,New Mover Flag,Occupation Code,Occupation Group,Right_Dwelling Type,Move Distance,Occupant Type,Breakdown Map Location,Breakdown City,Breakdown State,Basic Cost,Calculated Tow Miles,Call Canceled,Call Killed,Call Status Recv Date,Cash Call,Clearing Code Last Description,Dispatch Code1 Description,Dispatch Code2Description,DTL Prob1 Code Description,Fleet Indicator,Is Duplicate,Is NSR,Member Match Flag,Member Number and Associate ID,Motorcycle Indicator,Plus Cost,Plus Indicator Description,Premier Cost,Prob1 Code Description,Prob2 Code Description,SC Call Club Code Description,SC Date,Rec ID,SC STS RSN Code Description,SC Vehicle Manufacturer Name,SC Vehicle Model Name,SVC Facility Name,SVC Facility Type,Total Cost,Tow Destination Latitude,Tow Destination Longitude,Tow Destination Name,Was Duplicated,Was Towed To AAR Referral
0,0,100000030,104625900,Y,NEW HAVEN,CT,65110,651113490,N,N,N,N,N,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,Small or large multi-family w/apt number,NaN,NaN,Male,NaT,NaT,NaN,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,522115500,45007910,Y,WEST WARWICK,RI,28930,289338500,N,Y,N,N,N,N,N,N,One Child,NaN,Caucasion / White - English,150.0,Yes,Home Owner,"30-39,999",1922-02-05,Yes,Some College,Small or large multi-family w/apt number,600-649,English,NaN,2020-09-01,2005-01-28 12:41:09,F,New Member,1922-02-05,RI - WARWICK BRANCH,NaT,NaN,KENT,0.0,0.0,NaN,0.0,0.0,20.0,0.0,0.0,650.0,NaN,522115500.0,1970-09-01,1970-09-01,15000140.0,"{41.696,-71.5308}",153000.0,VoIP,ACTIVE,490.0,Primary,1530.0,NaN,Opt-In,NaN,2019-08-23,AUTO RENEW,28930.0,Senior Discounts,Low Income Elders,Golden Year Guardians,N,NaN,NaN,NaN,NaN,NaN,"{41,-71}",West Warwick,RI,325.0,8.0,N,N,2017-04-13 10:05:17,Y,CASH CALL ONLY C,Engine Overheat,NaN,Engine Overheat,N,0.0,0.0,10.0,153000.0,N,0.0,Basic Membership,0.0,Tow,NaN,AAA Northeast,2017-04-13,97073200.0,CASH CALL ONLY C,TOYOTA,CAMRY,ASTRO WRECKER SERVICE,independent repair,325.0,410.0,-710.0,Aar / Johnson's Auto Service,0.0,10.0

* General Info

In [6]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21344 entries, 0 to 21343
Columns: 113 entries, Column1 to Was Towed To AAR Referral
dtypes: datetime64[ns](9), float64(31), int64(5), object(68)
memory usage: 18.4+ MB

In [7]:
df_original.dtypes

Column1                                    int64
Individual Key                             int64
Household Key                              int64
Member Flag                               object
City                                      object
State - Grouped                           object
ZIP5                                       int64
ZIP9                                       int64
FSV CMSI Flag                             object
FSV Credit Card Flag                      object
FSV Deposit Program Flag                  object
FSV Home Equity Flag                      object
FSV ID Theft Flag                         object
FSV Mortgage Flag                         object
INS Client Flag                           object
TRV Globalware Flag                       object
Number of Children                        object
Responded to Catalog                      object
Race                                      object
Length Of Residence                      float64
Mail Responder                            object
Home Owner                                object
Income                                    object
Date Of Birth                     datetime64[ns]
Children                                  object
Education                                 object
Dwelling Type                             object
Credit Ranges                             object
Language                                  object
Gender                                    object
Active Expiration Date            datetime64[ns]
Address Change Date               datetime64[ns]
Bad Address Flag                          object
Billing Code Description                  object
Birth Date MMDDYYYY               datetime64[ns]
Branch Name                               object
Cancel Date                       datetime64[ns]
Cancel Reason                             object
County                                    object
Do Not Direct Mail Solicit               float64
Email Available                          float64
Email Status                              object
ERS ENT Count Year 1                     float64
ERS ENT Count Year 2                     float64
ERS ENT Count Year 3                     float64
ERS Member Cost Year 1                   float64
ERS Member Cost Year 2                   float64
ERS Member Cost Year 3                   float64
Right_Gender                              object
Right_Individual Key                     float64
Join AAA Date                     datetime64[ns]
Join Club Date                    datetime64[ns]
Member Key                               float64
Member Map Location                       object
Member Number Associate ID               float64
Member Phone Type                         object
Member Status                             object
Member Tenure Years                      float64
Member Type                               object
Membership ID                            float64
Months from Join to Cancel               float64
Opt-Out - Publication                     object
Reason Joined                             object
Reinstate Date                    datetime64[ns]
Renew Method                              object
ZIP                                      float64
Mosaic Household                          object
Mosaic Global Household                   object
kcl_B_IND_MosaicsGrouping                 object
New Mover Flag                            object
Occupation Code                           object
Occupation Group                          object
Right_Dwelling Type                       object
Move Distance                             object
Occupant Type                             object
Breakdown Map Location                    object
Breakdown City                            object
Breakdown State                           object
Basic Cost                               float64
Calculated Tow Miles                     float64
Call Canceled                             object
Call Killed                               object
Call Status Recv Date                     object
Cash Call                                 object
Clearing Code Last Description            object
Dispatch Code1 Description                object
Dispatch Code2Description                float64
DTL Prob1 Code Description                object
Fleet Indicator                           object
Is Duplicate                             float64
Is NSR                                   float64
Member Match Flag                        float64
Member Number and Associate ID           float64
Motorcycle Indicator                      object
Plus Cost                                float64
Plus Indicator Description                object
Premier Cost                             float64
Prob1 Code Description                    object
Prob2 Code Description                    object
SC Call Club Code Description             object
SC Date                           datetime64[ns]
Rec ID                                   float64
SC STS RSN Code Description               object
SC Vehicle Manufacturer Name              object
SC Vehicle Model Name                     object
SVC Facility Name                         object
SVC Facility Type                         object
Total Cost                               float64
Tow Destination Latitude                 float64
Tow Destination Longitude                float64
Tow Destination Name                      object
Was Duplicated                           float64
Was Towed To AAR Referral                float64
dtype: object

* Reading Dictionaries

In [8]:
path_dict_member = 'D:\\Desktop\\MLPGD_Capstone_Project\\resources\\member_data_dict.xlsx'

dict_member = pd.read_excel(path_dict_member)

In [9]:
path_dict_rodaside = 'D:\\Desktop\\MLPGD_Capstone_Project\\resources\\roadside_data_dict.xlsx'

dict_roadside = pd.read_excel(path_dict_rodaside)

# Data processing (Exploratory Data Analysis - EDA)

* Creating Dictionary to keep track of each operation and each filtering per operation

In [10]:
removed_columns = {}
removed_rows = {}

## 1 - Dropping Erroneous Column (excel did that on converting the csv original file)

    1.1 - Defining the key for this operation

In [11]:
removed_columns['Erroneous Columns Removal'] = ['Column1']

    1.2 - Performing Filtering

In [12]:
df_original.drop(columns='Column1', inplace=True)

In [13]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21344 entries, 0 to 21343
Columns: 112 entries, Individual Key to Was Towed To AAR Referral
dtypes: datetime64[ns](9), float64(31), int64(4), object(68)
memory usage: 18.2+ MB

## 2 - Grouping By Househol Key (main objective) and separate by variable type

    2.1 - Defining Data Type Columns and creating individual DataFrame per each

In [14]:
binary_columns = ['FSV CMSI Flag', 'FSV Credit Card Flag', 'FSV Deposit Program Flag', 'FSV Home Equity Flag', 'FSV ID Theft Flag', 'FSV Mortgage Flag', 'INS Client Flag', 'TRV Globalware Flag', 'Responded to Catalog', 'Mail Responder', 'Home Owner', 'Children', 'Gender', 'Bad Address Flag', 'Do Not Direct Mail Solicit', 'Email Available', 'Opt-Out - Publication', 'New Mover Flag', 'Occupant Type', 'Call Canceled', 'Call Killed', 'Cash Call', 'Fleet Indicator', 'Is Duplicate', 'Is NSR',	'Member Match Flag', 'Was Duplicated',	'Was Towed To AAR Referral'] # binary data that will be threat different from the rest of the numerical and categorical data

binary = pd.DataFrame() # individual binary dataframe

binary['Household Key'] = df_original['Household Key'] # concatenating household key column to perform groupby method

numericals = pd.DataFrame() # individual numerical dataframe

string = pd.DataFrame() # individual string dataframe

string['Household Key'] = df_original['Household Key'] # concatenating household key column to perform groupby method

dates = pd.DataFrame() # individual dates dataframe

dates['Household Key'] = df_original['Household Key'] # concatenating household key column to perform groupby method

    2.2 - Filling each Individual Dataframe with the proper columns

In [15]:
for c in tqdm_notebook(df_original.columns, desc='Process Progress'):

    if c in binary_columns:

        binary[c] = df_original[c]
    
    elif df_original.dtypes[c] in ['int64', 'float64']:

        numericals[c] = df_original[c]

    elif df_original.dtypes[c] in ['<M8[ns]']:
        
        dates[c] = df_original[c]

    else:

        string[c] = df_original[c]

HBox(children=(FloatProgress(value=0.0, description='Process Progress', max=112.0, style=ProgressStyle(descrip…

    2.3 - Grouping by Household Key

In [16]:
numericals = numericals.groupby('Household Key').mean() # grouping by the mean of numerical values per each Household Key

binary_numericals = binary.groupby('Household Key').mean() # grouping by the mean of binary values per each Household Key We still need to separate categorical and numerical binary variables to perform the groupby procedure in the categorical columns

        2.3.1 - Converting Dates to Year and Separating Binary Numericals from Binary Categoricals

In [17]:
for c in tqdm_notebook(binary.columns, desc='Process Progress'): # Separating Binary Types
    if (c != 'Household Key'):
        if (binary.dtypes[c] in ['int64', 'float64']):

            binary.drop(columns=c, inplace=True)

HBox(children=(FloatProgress(value=0.0, description='Process Progress', max=29.0, style=ProgressStyle(descript…

In [18]:
for c in tqdm_notebook(dates.columns, desc='Process Progress'): # Converting Dates into Years
    if (c != 'Household Key'):
        dates[c] = dates[c].astype('datetime64[ns]')
        dates[c] = dates[c].dt.year
        #dates[c] = dates[c].astype('int64')

HBox(children=(FloatProgress(value=0.0, description='Process Progress', max=10.0, style=ProgressStyle(descript…

        2.3.2 - Grouping by mean and Household Key

In [19]:
dates  = dates.groupby('Household Key').mean() # grouping by the mean of year values per each Household Key

        2.3.3 - Grouping by mode and Household Key

In [20]:
string = string.groupby('Household Key').apply(lambda x: x.mode()) # grouping by the mode of each categorical per each Household Key

In [21]:
string.head(n=2) # by some reason, the groupby method by the mode of string columns returned a multi-index dataframe. Therefore, we need to remove the multi-index of this dataframe to move further our analysis

                 Household Key Member Flag      City State - Grouped  \
Household Key
8750          0         8750.0           Y  CRANSTON              RI
              1            NaN         NaN       NaN             NaN

                Number of Children Race Income Education Dwelling Type  \
Household Key
8750          0                NaN  NaN    NaN       NaN          SFDU
              1                NaN  NaN    NaN       NaN           NaN

                Credit Ranges Language Billing Code Description  \
Household Key
8750          0           NaN      NaN      Renewal Mbr Billing
              1           NaN      NaN                      NaN

                          Branch Name Cancel Reason      County  Email Status  \
Household Key
8750          0  RI - CRANSTON BRANCH   Non-Payment  PROVIDENCE        Active
              1                   NaN           NaN         NaN  Unsubscribed

                Right_Gender Member Map Location Member Phone Type  \
Household Key
8750          0          NaN  {41.7658,-71.4978}          Wireless
              1          NaN                 NaN               NaN

                Member Status Member Type Reason Joined Renew Method  \
Household Key
8750          0        ACTIVE   Associate           NaN       NOTICE
              1           NaN         NaN           NaN          NaN

                   Mosaic Household Mosaic Global Household  \
Household Key
8750          0  Couples with Clout    Bourgeois Prosperity
              1                 NaN                     NaN

                kcl_B_IND_MosaicsGrouping Occupation Code Occupation Group  \
Household Key
8750          0               Power Elite             NaN              NaN
              1                       NaN             NaN              NaN

                Right_Dwelling Type Move Distance Breakdown Map Location  \
Household Key
8750          0   Multi Family With  1 to 5 Miles               {41,-71}
              1                 NaN           NaN                    NaN

                Breakdown City Breakdown State Call Status Recv Date  \
Household Key
8750          0       Cranston              RI   2014-09-27 17:54:38
              1            NaN             NaN   2014-09-29 06:34:41

                Clearing Code Last Description   Dispatch Code1 Description  \
Household Key
8750          0                 Normal Service            Flat Tire w/spare
              1                            NaN  Transmission/Clutch Failure

                  DTL Prob1 Code Description Motorcycle Indicator  \
Household Key
8750          0            Flat Tire w/spare                    N
              1  Transmission/Clutch Failure                  NaN

                Plus Indicator Description Prob1 Code Description  \
Household Key
8750          0            Plus Membership                    Tow
              1                        NaN                    NaN

                Prob2 Code Description SC Call Club Code Description  \
Household Key
8750          0                    NaN                 AAA Northeast
              1                    NaN                           NaN

                SC STS RSN Code Description SC Vehicle Manufacturer Name  \
Household Key
8750          0              Normal Service                      PONTIAC
              1                         NaN                       TOYOTA

                SC Vehicle Model Name          SVC Facility Name  \
Household Key
8750          0              GRAND AM  AAA SNE RI  LIGHT SERVICE
              1                   NaN                        NaN

                      SVC Facility Type Tow Destination Name
Household Key
8750          0  mobile battery service                Mobil
              1                     NaN       Oaklawn Mobile

In [22]:
post_processed_string = pd.DataFrame() # creating a new dataframe for the post processed string variable

In [23]:
for house_id in tqdm_notebook(df_original['Household Key'].unique().tolist(), desc='Process Progress'): # iterating over all unique Household Keys

    if len(string.loc[house_id].index.tolist()) > 1: # if, for a given Household Key, we have more then one multi-index value

        result = string.loc[house_id].iloc[0] + string.loc[house_id].iloc[1] # we sum the first two rows

        non_null_indexes = np.where(string.loc[house_id].iloc[1].isnull().tolist())[0] # we evaluate which of them were not null before the sum procedure

        for i in np.where(string.loc[house_id].iloc[1].isnull().tolist())[0]: # we iterate over the indexes that were not null before the sum procedure

            result[i] = string.loc[house_id].iloc[0][i] # we replace by the previous non null value

        post_processed_string = pd.concat([post_processed_string, result.to_frame().T]) # and we store on our new dataframe

    else: # if, for a given Household Key, we have only one multi-index value

        result = string.loc[house_id].iloc[0] # we store it because we can not change it so far

        post_processed_string = pd.concat([post_processed_string, result.to_frame().T]) # # and we store on our new dataframe

HBox(children=(FloatProgress(value=0.0, description='Process Progress', max=5241.0, style=ProgressStyle(descri…

In [26]:
binary_categoricals = binary.groupby('Household Key').apply(lambda x: x.mode()) # grouping by the mode of each categorical per each Household Key

In [29]:
binary_categoricals.head(n=5) # by some reason, the groupby method by the mode of binary_categoricals columns returned a multi-index dataframe. Therefore, we need to remove the multi-index of this dataframe to move further our analysis

                 Household Key FSV CMSI Flag FSV Credit Card Flag  \
Household Key
8750          0         8750.0             N                    N
9690          0         9690.0             N                    N
33380         0        33380.0             N                    N
87180         0        87180.0             N                    N
              1            NaN           NaN                  NaN

                FSV Deposit Program Flag FSV Home Equity Flag  \
Household Key
8750          0                        N                    N
9690          0                        N                    N
33380         0                        N                    N
87180         0                        N                    N
              1                      NaN                  NaN

                FSV ID Theft Flag FSV Mortgage Flag INS Client Flag  \
Household Key
8750          0                 N                 N               N
9690          0                 N                 N               N
33380         0                 N                 N               N
87180         0                 N                 N               N
              1               NaN               NaN             NaN

                TRV Globalware Flag Responded to Catalog Mail Responder  \
Household Key
8750          0                   N                  NaN            NaN
9690          0                   N                  NaN            Yes
33380         0                   N                  NaN            Yes
87180         0                   N                  NaN            Yes
              1                   Y                  NaN            NaN

                 Home Owner Children Gender Bad Address Flag  \
Household Key
8750          0         NaN      NaN    NaN                F
9690          0  Home Owner       No   Male                F
33380         0  Home Owner      Yes    NaN                F
87180         0  Home Owner       No   Male                F
              1         NaN      NaN    NaN              NaN

                Opt-Out - Publication New Mover Flag Occupant Type  \
Household Key
8750          0                Opt-In              N        Renter
9690          0                Opt-In              N           NaN
33380         0                Opt-In              N           NaN
87180         0                Opt-In              N           NaN
              1                   NaN            NaN           NaN

                Call Canceled Call Killed Cash Call Fleet Indicator
Household Key
8750          0             N           N         N               Y
9690          0             N           N         N               Y
33380         0           NaN         NaN       NaN             NaN
87180         0           NaN         NaN       NaN             NaN
              1           NaN         NaN       NaN             NaN

In [ ]:
#performing same thing on string variables

In [27]:
print(len(numericals.index), len(binary_numericals.index), len(binary_categoricals.index), len(dates.index), len(post_processed_string.index)) # number of rows per type of variable

5241 5241 6338 5241 5241

## 3 - Evaluating number of null values

In [ ]:
columns_nullval_ratio = {} # dictionary of null values ration for all columns

sequence = ['Numerical', 'Binary Numericals', 'Dates', 'Binary Categoricals', 'Strings'] # key sequence for dictionaries

data_type_collection = [numericals, binary_numericals, dates, binary_categoricals, post_processed_string] # list of dataframes per each data type

for var_type, idx in zip(sequence, range(len(sequence))): 

    columns_nullval_ratio[var_type] = (data_type_collection[idx].isnull().sum() * 100 / len(data_type_collection[idx])).sort_values(ascending=False) # filling dataframe dictionary

In [ ]:
for var_type in sequence:

    print(var_type +' Column Null Values','\n', columns_nullval_ratio[var_type], '\n')

    2.1 - Removing columns beyond given threshold

            2.1.1 - Maintaining Original Data files

            2.1.2 - Defining Column Threshold

In [ ]:
column_threshold = 50.0 # threshold of 50 %

            2.1.3 - Defining the key for this operation

In [ ]:
key2 = str(column_threshold) + '% Column Threshold Column Removal' # key for our track removal dictionary

removed_columns[key2] = [] # adding to the new key to the dictionary

            2.1.4 - Performing Filtering

In [ ]:
for c in tqdm_notebook(df_original.columns, desc='Process Progress'): # for all columns on the original dataframe
    for var_type in sequence: # for all type of separatable dataframe

        if var_type == "Strings": # we will deal with the String type in a different way so, for now, we pass
            pass
    
        else:
            if c in removed_null_data[var_type].columns:

                if columns_nullval_ratio[var_type][c] >= column_threshold:

                    removed_null_data[var_type].drop(columns=c, inplace=True)

                    removed_columns[key2].append(c)

print('Removed Columns after filtering process: ', removed_columns[key2])

In [ ]:
removed_null_data.info()

        2.1.5 - Analysing Strings case and why they are so high

In [ ]:
original_null_val_ratio = {}

for col in tqdm_notebook(columns_nullval_ratio['Strings'].index.tolist(), desc='Process Progress'):

    original_null_val_ratio[col] = (df_original[col].isnull().sum() * 100 / len(df_original))

In [ ]:
for col in tqdm_notebook(columns_nullval_ratio['Strings'].index.tolist(), desc='Process Progress'):
    print(col, original_null_val_ratio[col])

In [ ]:
columns_nullval_ratio['Strings']

In [ ]:

rows_nullval_ratio = [(numericals.isnull().sum(axis=1) * 100 / len(numericals)).sort_values(ascending=False), (binary_numericals.isnull().sum(axis=1) * 100 / len(binary_numericals)).sort_values(ascending=False), (dates.isnull().sum(axis=1) * 100 / len(dates)).sort_values(ascending=False), (binary_categoricals.isnull().sum(axis=1) * 100 / len(binary_categoricals)).sort_values(ascending=False), (string.isnull().sum(axis=1) * 100 / len(string)).sort_values(ascending=False)] # percentage of null values per column

## 3 - Subjective Evaluation

    3.1 - Rename FSV, INS, and TRV columns that are related to products purchase flags

In [ ]:
matching_FSV = [s for s in list(removed_null_data.columns) if "FSV" in s]
matching_INS = [s for s in list(removed_null_data.columns) if "INS" in s]
matching_TRV = [s for s in list(removed_null_data.columns) if "TRV" in s]
final_matching = matching_FSV + matching_INS + matching_TRV
print(final_matching)

In [ ]:
counter = 1

for c in final_matching:

    removed_null_data.rename(columns={c : 'Purchased Product' + ' ' + str(counter)}, inplace=True)

    counter = counter + 1

In [ ]:
removed_null_data.head(n=2)

    3.2 -  Removing columns that are not allowed or not ethical to work

        3.2.1 - Creating Dictionary Key

In [ ]:
key3 = 'Unethical Columns'

removed_columns[key3] = ['Race', 'Language', 'Gender'] # is gender an unethical information for market segmentation?

        3.2.2 - Performing Filtering

In [ ]:
for c in tqdm_notebook(removed_columns[key3], desc='Process Progress'):

    removed_null_data.drop(columns=c, inplace=True)

print('Removed Columns after filtering process: ', removed_columns[key3])

In [ ]:
removed_null_data.info()

    3.3 - Removing Columns that represent the same information in a different way (information redundancy)

        3.3.1 - Creating Dictionary Key

In [ ]:
key4 = 'Redundancy Information Columns'

removed_columns[key4] = ['Individual Key', 'State - Grouped', 'ZIP5', 'ZIP9', 'Children', 'Birth Date MMDDYYYY', 'Cancel Date', 'County', 'Do Not Direct Mail Solicit', 'Right_Individual Key', 'Member Key', 'Member Number Associate ID', 'Membership ID', 'Reinstate Date', 'ZIP', 'Mosaic Household', 'kcl_B_IND_MosaicsGrouping', 'Occupation Code', 'Breakdown State', 'Call Killed', 'Clearing Code Last Description', 'Dispatch Code1 Description','DTL Prob1 Code Description', 'Is Duplicate', 'Member Match Flag', 'Member Number and Associate ID', 'SC Date', 'Rec ID', 'SC STS RSN Code Description', 'SC Vehicle Model Name', 'SVC Facility Name', 'SVC Facility Type', 'Tow Destination Latitude', 'Tow Destination Longitude'] # is the City variable relevant once we already have lat/long location? Address Change Date? Bad Adress Flag? Reinstate Date (y)? Call Status Recv Date?

        3.3.2 - Performing Filtering

In [ ]:
for c in tqdm_notebook(removed_columns[key4], desc='Process Progress'):

    if c in removed_null_data.columns: # since we have choosen a lot of columns, we have to ensure that all of them are still in the current dataset status

        removed_null_data.drop(columns=c, inplace=True)

print('Removed Columns after filtering process: ', removed_columns[key4])

In [ ]:
removed_null_data.info()

    3.4 - Checking Columns with low percentage of variantional information (counting null values)

        3.4.1 - Creating Dictionay Key

In [ ]:
key5 = 'Low Variational Information Columns'

removed_columns[key5] = []

        3.4.2 - Performing Filtering

In [ ]:
for c in tqdm_notebook(removed_null_data.columns, desc='Process Progress'):

    if removed_null_data.nunique()[c] == 1:

        removed_null_data.drop(columns=c, inplace=True)

        removed_columns[key5].append(c)
        
print('Removed Columns after filtering process: ', removed_columns[key5])

In [ ]:
removed_null_data.info()

    3.5 - Removing Columns with Unnecessary Information (extremely subjective)

        3.5.1 - Creating Dictionary Key

In [ ]:
key6 = 'Unnecessary Columns'

removed_columns[key6] = ['Address Change Date', 'Bad Address Flag', 'Billing Code Description', 'Join Club Date', 'Member Phone Type', 'Mosaic Global Household', 'New Mover Flag', 'Call Canceled', 'Is NSR', 'Plus Indicator Description', 'Calculated Tow Miles', 'Was Duplicated', 'Was Towed To AAR Referral', 'Branch Name']

        3.5.2 - Performing Filtering

In [ ]:
for c in tqdm_notebook(removed_columns[key6], desc='Process Progress'):

    removed_null_data.drop(columns=c, inplace=True)

print('Removed Columns after filtering process: ', removed_columns[key6])

In [ ]:
removed_null_data.info()

## 4 - Summarize Information and Fill Nulls in the given columns

    Renaming Pivot Variable and saving previous state of the data

In [ ]:
filtered_data = removed_null_data.copy()

    4.1 - Number of Purchased Products

        4.1.1 - Creating Dictionary Key

In [ ]:
key7 = 'Merging total number of purchased products by each row'

removed_columns[key7] = ['Purchased Product 1',	'Purchased Product 2',	'Purchased Product 3',	'Purchased Product 4',	'Purchased Product 5',	'Purchased Product 6',	'Purchased Product 7',	'Purchased Product 8']

        4.1.2 - Performing Summary

            4.1.2.1 - Converting String Values in Numerical Values and filling Null values as 0 purchased products for empty different Household Keys

In [ ]:
for idx in tqdm_notebook(range(len(filtered_data)), desc='Process Progress'): # For each row
    for c in removed_columns[key7]: # In each Purchased Product Column

        if (filtered_data[c].values[idx] == 'N') or (filtered_data[c].values[idx] == 'Null') or (filtered_data[c].values[idx] == np.nan):

            filtered_data[c].values[idx] = 0

        else:

            filtered_data[c].values[idx] = 1

            4.1.2.2 - Converting Columns to Iterger Type

In [ ]:
for c in tqdm_notebook(removed_columns[key7], desc='Process Progress'):

    filtered_data[c] = filtered_data[c].astype(int)

        4.1.2.3 - Summarize all Purchased Columns

In [ ]:
new_column = [] # creating list for the new column to be appended

column_name = 'Total Number of Purchased Products' # naming the new column

for idx in tqdm_notebook(range(len(filtered_data)), desc='Process Progress'): # For each row
    total_amount = 0 # total amount of products bought in each row

    for c in removed_columns[key7]: # In each Purchased Product Column

        if filtered_data[c][idx] == 1:

            total_amount = total_amount + 1

    new_column.append(total_amount)

        4.1.2.4 - Drop Separate Purchased Data and Concatenate Total Purchased Data

In [ ]:
for c in tqdm_notebook(removed_columns[key7], desc='Process Progress'):

    filtered_data.drop(columns=c, inplace=True)

filtered_data[column_name] = new_column
print('Removed Columns after filtering process: ', removed_columns[key7])

In [ ]:
filtered_data.info()

    4.2 - Correcting Number of Children column

        4.2.1 - Checking if for any HouseHold Key there is a different information for children numbering

In [ ]:
Counter(df_original.groupby('Individual Key')['Number of Children'].nunique().values) # as the sheet is sorted for Individual Keys, since the beginning, we need to check if, for each Individual Key there is only 1 or 0 entries for the Number of Children

            With this information, we can ensure that there is no Individual Key, therefore no Household Key since it is a collection of the previous, with an erroneous entry for the Number of Children column

        4.2.2 - Converting String Values in Numerical Values and filling Null values as 0 children for empty different Household Keys

In [ ]:
mask_n_children = filtered_data['Number of Children'].isnull() # creating mask of null values in Number of Children column

In [ ]:
for idx in tqdm_notebook(range(len(filtered_data)), desc='Process Progress'): # For each row

    if mask_n_children[idx]: # if the mask is true, that means that the correponded value for that index is Null

        filtered_data['Number of Children'].values[idx] = 0    
    
    else:

        entry = filtered_data['Number of Children'].values[idx].split()[0]

        if (entry == 'No'):

            filtered_data['Number of Children'].values[idx] = 0

        elif (entry == 'One'):

            filtered_data['Number of Children'].values[idx] = 1

        elif (entry == 'Two'):

            filtered_data['Number of Children'].values[idx] = 2

        elif (entry == 'Three'):

            filtered_data['Number of Children'].values[idx] = 3

        elif (entry == 'Four'):

            filtered_data['Number of Children'].values[idx] = 4

        elif (entry == 'Five'):

            filtered_data['Number of Children'].values[idx] = 5

        elif (entry == 'Six'):

            filtered_data['Number of Children'].values[idx] = 6

        4.2.2 - Converting Column to Iterger Type

In [ ]:
filtered_data['Number of Children'] = filtered_data['Number of Children'].astype(int)

In [ ]:
filtered_data.info()

    4.3 - Length of Residence

    The main approach we are going to apply here is to get the mean value of the household key and apply it on the same number. After that, if it still exists any null value on the given column, we will use the mean or the mode of the column City to fill it.

        4.3.1 - Replace random default value apllied by Pandas on Null values for the Length Of Residence column. For some reason it was choosen a smaller number as possible for a float64 number

In [ ]:
filtered_data['Length Of Residence'].unique()  # as we can see, by some reason, the number -9.223372e+18 was choosen to be a flag of a Null value for this column, we need to replace it by 0 or np.nan

In [ ]:
filtered_data['Length Of Residence'] = filtered_data['Length Of Residence'].replace(filtered_data['Length Of Residence'].unique()[0], np.nan) # replacing random numerical Null values chose by Pandas for numpy NaN

In [ ]:
filtered_data['Length Of Residence'].unique() # now we have out correct output for Null values for the Length Of Residence column

        4.3.2 - Checking if there are Household Keys with at least one value for the Length Of Residence column and apply it to the rest of them

In [ ]:
filtered_data.groupby('Household Key')['Length Of Residence'].unique(); # As we can see, for the same Household Key level we have different values of Length Of Residence. This happens because our main sheet data was sorted on a Individual Key level, that is not our interest here. # OBS: REMOVE THE ';' AT THE END OF THE COMMAND TO PRINT THE OUTPUT! BE ADVISED, THE OUTPUT IS EXTENSE!

In [ ]:
for house_id in tqdm_notebook(filtered_data.groupby('Household Key')['Length Of Residence'].unique().keys(), desc='Process Progress'): # for every single unique Household Key value

    if len(filtered_data.groupby('Household Key')['Length Of Residence'].unique()[house_id]) == 1: # if there is only one associated value for Length Of Residence, independet of the value, we can infer nothing for now, so, we pass
        pass
    
    else:

        tmp = filtered_data.loc[filtered_data['Household Key'] == house_id]['Length Of Residence'].values # storing array on a temporary file

        if np.isnan(tmp).any(): # check if the associated values for the Length Of Residence for a given Household Key has at least one Null value

            nan_positions = np.where(np.isnan(tmp))[0].tolist() # grabing the positions where the Null values exist

            if len(nan_positions) == len(tmp): # checking if all the values for the given Household Key are Null (in this case we will treat it in another way, so, we pass)
                pass

            else:

                replacement_value =  tmp[~np.isnan(tmp)].mean() # calculating the mean of all non Null values

                tmp[np.isnan(tmp)] = replacement_value # index of Null values on the array

                idxs = filtered_data.loc[filtered_data['Household Key'] == house_id, 'Length Of Residence'].index[nan_positions] # index of Null values on the dataframe

                for i in idxs: # for each dataframe index
                
                    filtered_data.at[i, 'Length Of Residence'] = replacement_value # replace de Null value by the Household Key mean

        4.3.3 - Now we focus on predicting the rest of the Null values, but this time through groups of cities

In [ ]:
filtered_data.groupby('City')['Length Of Residence'].unique(); # As we can see, for the same City we have different values of Length Of Residence. We want to take advantage of this bigger scale to replace more Null values # OBS: REMOVE THE ';' AT THE END OF THE COMMAND TO PRINT THE OUTPUT! BE ADVISED, THE OUTPUT IS EXTENSE!

In [ ]:
for city in tqdm_notebook(filtered_data.groupby('City')['Length Of Residence'].unique().keys(), desc='Process Progress'): # for every single unique Household Key value

    if len(filtered_data.groupby('City')['Length Of Residence'].unique()[city]) == 1: # if there is only one associated value for Length Of Residence, we can infer nothing for now. So, we pass and let this for the state mean 
        pass
    
    else:

        tmp = filtered_data.loc[filtered_data['City'] == city]['Length Of Residence'].values # storing array on a temporary file

        if np.isnan(tmp).any(): # check if the associated values for the Length Of Residence for a given City has at least one Null value

            nan_positions = np.where(np.isnan(tmp))[0].tolist() # grabing the positions where the Null values exist

            if len(nan_positions) == len(tmp): # checking if all the values for the given City are Null (in this case we will treat it in another way, so, we pass)
                pass

            else:

                replacement_value =  tmp[~np.isnan(tmp)].mean() # calculating the mean of all non Null values

                tmp[np.isnan(tmp)] = replacement_value # index of Null values on the array

                idxs = filtered_data.loc[filtered_data['City'] == city, 'Length Of Residence'].index[nan_positions] # index of Null values on the dataframe

                for i in idxs: # for each dataframe index
                
                    filtered_data.at[i, 'Length Of Residence'] = replacement_value # replace de Null value by the City mean

            4.3.4 - Now we focus on predicting the rest of the Null values on the biggest and final scale as possible, the states.

            Note: You may noticed that we have excluded the State - Gouped column, but, since we havent eliminated any row yet we can still use the previous indexes of this unusable column

In [ ]:
ct_idxs = df_original.index[df_original['State - Grouped'] == 'CT'].tolist() # grab index of all rows that belong to the CT state
ri_idxs = df_original.index[df_original['State - Grouped'] == 'RI'].tolist() # grab index of all rows that belong to the RI state

In [ ]:
ct_mean = filtered_data['Length Of Residence'][ct_idxs].mean()
ri_mean = filtered_data['Length Of Residence'][ri_idxs].mean()
print('CT mean value considering all Null values so far filled: ', ct_mean, '\n', 'RI mean value considering all Null values so far filled: ', ri_mean)

In [ ]:
for idx in tqdm_notebook(filtered_data.index, desc='Process Progress'): # for every single unique Household Key value

    if filtered_data['Length Of Residence'].isnull()[idx]: # if for the given index of the Length Of Residence column the value is Null
        if idx in ct_idxs: # check if this index belongs to the CT state

            filtered_data.at[idx, 'Length Of Residence'] = ct_mean # replace the Null value by the CT state mean

        else:

            filtered_data.at[idx, 'Length Of Residence'] = ri_mean # replace the Null value by the RI state mean

In [ ]:
filtered_data['Length Of Residence'].isnull().values.any() # check if Length Of Residence column still has any Null value left

In [ ]:
filtered_data.info()

    4.4 - Summarize E-mail and Mail Information

        4.4.1 - Creating List of Columns to be summarized

In [ ]:
mail_var = ['Mail Responder', 'Email Available', 'Email Status', 'Opt-Out - Publication']

        4.4.2 - Checking Existance of Null Values on this columns

In [ ]:
for col in mail_var:

    print('Flag if column ', col, ' has null values. ', filtered_data[col].isnull().values.any(), ' and its percentage ', nullval_ratio[col]) # check if the columns have any Null values

        As we can see, all the binary categorical columns have Null values. However, the columns related to Email Available and Opt-Out - Publication are almost full filled and, according to the spreadsheet dictionary, those two are AAA direct information and not third party information. So, we will focus on them as most reliable data and use the Member Status as well to "predict" a summary of all these information

In [ ]:
filtered_data.groupby('Household Key')['Email Status'].unique();

        4.4.3 - Give the name of the new column to be added on the dataframe

In [ ]:
new_mail_key = 'Email Correspondent' # new column name

filtered_data[new_mail_key] = "" # appending new column to the dataframe

        4.4.4 - To summarize all these information we need to ensure that for the same Household Key we have a concordance between all the variables. For that we will use the Member Status variable and Email Available as pivot information

In [ ]:
for house_id in tqdm_notebook(filtered_data['Household Key'].unique().tolist(), desc='Process Progress'): # for every single unique Household Key value

    if len(Counter(filtered_data.groupby('Household Key')['Member Status'].unique()[house_id].tolist())) != 1: # if there is more than one Member Status type for the given Household Key

        if 'ACTIVE' in filtered_data.groupby('Household Key')['Member Status'].unique()[house_id].tolist(): # if at least one individual member is active on the given HouseHold Key

            filtered_data.loc[(filtered_data['Household Key'] == house_id), 'Member Status'] = 'ACTIVE' # replace them all for active

        elif 'PENDING' in filtered_data.groupby('Household Key')['Member Status'].unique()[house_id].tolist(): # if at least one individual member is pending on the given HouseHold Key and there is none active

            filtered_data.loc[(filtered_data['Household Key'] == house_id), 'Member Status'] = 'PENDING' # replace them all for pending 
    
    if len(Counter(filtered_data.groupby('Household Key')['Email Available'].unique()[house_id].tolist())) != 1: # if there is more than one Email Available type for the given Household Key

        if 10 in filtered_data.groupby('Household Key')['Email Available'].unique()[house_id].tolist(): # if at least one individual member has its email available on the given HouseHold Key

            filtered_data.loc[(filtered_data['Household Key'] == house_id), 'Email Available'] = 10 # replace them all by 10 (active)

    if len(Counter(filtered_data.groupby('Household Key')['Opt-Out - Publication'].unique()[house_id].tolist())) != 1: # if there is more than one Opt-Out - Publication type for the given Household Key   

        if 'Opt-In' in filtered_data.groupby('Household Key')['Opt-Out - Publication'].unique()[house_id].tolist(): # if at least one individual member has optional for an email publication on the given HouseHold Key

            filtered_data.loc[(filtered_data['Household Key'] == house_id), 'Opt-Out - Publication'] = 'Opt-In' # replace them all by Opt-In (active)

        4.4.5 - Filling the new column

In [ ]:
for house_id in tqdm_notebook(filtered_data['Household Key'].unique().tolist(), desc='Process Progress'): # for every single unique Household Key value

    if ('ACTIVE' in filtered_data[filtered_data['Household Key'] == house_id]['Member Status'].tolist()) and (10 in filtered_data[filtered_data['Household Key'] == house_id]['Email Available'].tolist()) and ('Opt-In' in filtered_data[filtered_data['Household Key'] == house_id]['Opt-Out - Publication'].tolist()): # if all the conditions are satisfied

        filtered_data.loc[(filtered_data['Household Key'] == house_id), 'Email Correspondent'] = 1 # the household is an e-mail correspondent

    else:

        filtered_data.loc[(filtered_data['Household Key'] == house_id), 'Email Correspondent'] = 0 # the household is not an e-mail correspondent


filtered_data['Email Correspondent'] = filtered_data['Email Correspondent'].astype(int) # changing to integer data type

        4.4.6 -  Dropping Email information Columns

In [ ]:
key8 = 'Merging Availability of Email Contact'

removed_columns[key8] = mail_var

In [ ]:
for c in mail_var:

    filtered_data.drop(columns=c, inplace=True)

print('Removed Columns after filtering process: ', removed_columns[key8])

In [ ]:
filtered_data.info()

In [ ]:
path_out = '..\\resources\\checkpoint.csv'
filtered_data.to_csv(path_or_buf=path_out, index=False)

        We still need to keep an eye on the variables that only have 2 unique values, but it will be more a subjective evaluation

* Check correlation Matrix

#correlation matrix
corrmat = remove_null_data.corr()
f, ax = plt.subplots(figsize=(15, 10))
sns.heatmap(corrmat, square=True); # considering 70% o correlation as minimum to show

* Observations

  1- There is an "island" between Rec ID and Tow destination Longitude this will be evaluate latter, but looks promissing
  2- Basic Cost has a high correlation with the variables within this "island" 
  3- Individual Key and Right_Individual Key are pratically the same variable
  4- ZIP5 and ZIP9 are pratically the same variable
  5- Months from join to Cancel has no correlation at so ever with the Premier Cost variable

    By the correlation matrix of the entire dataset (minus the columns with more than 70% of null values), we can see that there are still some columns with no correlation, or total correlation with all the variables, and some trouble columns. Therefore, the best thing to do is to drop them.

trouble_columns= ['Is Duplicate', 'Member Match Flag']

columns_will_not_use = ['Individual Key', 'Member Flag', 'Right_Individual Key']